.App{
  position: absolute;
  top: 25%;
  left: 40%;
}
.App h1{
  text-align: center;
}
.btn{
  border: none;
  background-color: rgb(5, 120, 158);
  padding: 15px 25px;
  margin: 10px 100px;
  cursor: pointer;
  color: #fff;
}
input[type='text']{
  width: 300px;
  height: 30px;
}
.btn1{
  border: none;
  background-color: rgb(5, 128, 26);
  padding: 15px 25px;
  margin: 10px 100px;
  cursor: pointer;
  color: #fff;
}
.recaptcha{
  margin: 10px;
}